.cryptocurrency {
    padding: 20px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    min-width: 9rem;
    border: solid 1px rgba(250, 250, 250, 0.877);
    background-color: #6cd86c;

}
.cryptocurrency p {
    color: rgba(0, 0, 0, 0.75);
    font-size: 30px;

}
.cryptocurrencylist {
    font-size: 1rem;
}
.App {
    background-color: #b1f1b6;
    /* font-size: 1.25rem; */
}
.tickers{
    background-color: #dad0d0fb;
    display: flex;
    flex-wrap: wrap;
    width: 67rem;
    
}
.litecoin {
    background-color: #6bf32c;
}

.header{
    background-color: #248fe6;
}

.ripple {
    background-color: #248fe6;
}

.EOS {
    background-color: #889097;
}
.TRON {
    background-color: #e62465;
}
.Cardano{
    background-color: #248fe6;
}
.Monero {
    background-color: #e62434e0;
}
.binance-coin {
    background-color: #e66b1ae0;
}
.keepwatch {
    background-color: #6cff32;
    /* font-size: 1.25rem; */
}